.item {
    background:#191919;
    color: #fff;
    width: 100%;
    padding: 8px 15px;
    margin: 0;
    border-bottom: 1px solid #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-of-type(1) {
        margin-top: 50px;
    }
    
    h3 {
        font-weight: 300;
    }

    .buttons {
        button {
            background: none;
            border: none;
            .fas {
                color: #fff;
                font-size: 22px;
            }

            .fa-trash {
                color: #777;
            }
        }
    }
}