.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    position: fixed;
    bottom: 0;

    form {
        grid-column: 1/2;
        width: 100%;

    .input {
        padding: 30px;
        font-size: 22px;
        outline: none;
        border: none;
        background: #191919;
        color: #fff;
        width: 100%;

        @media screen and (max-width: 700px) {
            border-bottom: 1px solid #fff;
        }
    }
}

.checkbox {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-right: 40px;
    width: 100%;
    background: #191919;
    justify-content: flex-end;

    input {
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 0;
    }

    @media screen and (max-width: 700px) {
        justify-content: flex-start;
        padding: 20px 20px 30px 20px;
    }
}

}